@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  background: #ECEFF1;
  font-size: 16px;
  color: #263238;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 30px;
}
::selection {
  background: #90A4AE;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
}
.header {
  flex: 1 100%;
}
.main {
  flex: 1 100%;
}
.aside {
  flex: 1 100%;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 2 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
}
